<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css"  crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <title>Ros 제어 예시</title>
</head>
<body>
{% block content %}
{% endblock %}
<!-- 자바스크립트 Start -->
{% include "footer.html" %}
{% include "script.html" %}
<!-- 자바스크립트 End -->
</body>
</html>
